[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
[submodule "static/comments/DOMPurify"]
	path = static/comments/DOMPurify
	url = git@github.com:cure53/DOMPurify.git
